@font-face {
    font-family: 'Delta Universe';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/DeltaUniverse/DeltaUniverse.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/DeltaUniverse/DeltaUniverse.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/DeltaUniverse/DeltaUniverse.otf') format('opentype'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/DeltaUniverse/DeltaUniverse.ttf') format('truetype');
}
